Goose does not appear to support RFC 8707 Resource Indicators for OAuth 2.0 for MCP Servers

**Please explain the motivation behind the feature request.**
According to the MCP specification (2025-06-18, 2025-11-25 and the current draft) when connecting MCP specs  via Oauth:

```
MCP clients MUST implement Resource Indicators for OAuth 2.0 as defined in [RFC 8707](https://www.rfc-editor.org/rfc/rfc8707.html) to explicitly specify the target resource for which the token is being requested. The resource parameter:
1. MUST be included in both authorization requests and token requests.
2. MUST identify the MCP server that the client intends to use the token with.
3. MUST use the canonical URI of the MCP server as defined in [RFC 8707 Section 2](https://www.rfc-editor.org/rfc/rfc8707.html#name-access-token-request).
```

Whilst support for this RFC is marked as a MUST, in the RFC it states that the resource parameter is optional so its hard to understand whether or not this should actually be required or not.

At the moment, an MCP server that is expecting this parameter (or backing authorization server) cannot be used with Goose.

**Describe the solution you'd like**
To support the parameter.  It should be sent in the auth and token requests according to RFC 8707.
